*{
    font-family: Arial, Helvetica, sans-serif;
}
.profile-pic{
    width: 250px;
    height: 250px;
    border-radius:3%;
    padding:2%;
    margin-bottom: 0%;
    }

header{
    background-color:yellowgreen ;
    width:100%;
    height: 10%;
    text-align: center;

}
h1{
    margin-bottom: 0%;
    margin-top: 0%;
    
}
.aboutme h2:hover{
    animation-name: slide;
    animation-duration: 3s;
}
.project h2:hover{
    animation-name: slide;
    animation-duration: 3s;
    animation-delay: 0s;
}
.skills h2:hover{
    animation-name: slide;
    animation-duration: 3s;
    animation-delay: 0s;
}
.contact h2:hover{
    animation-name: slide;
    animation-duration: 3s;
    animation-delay: 0s;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100px);
    }
    
}
nav li{
    display: inline;
}
h1+p{
    margin-top: 0px;
}
.content{
    text-align: center;
    background-color:lightcyan;
}

